In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Flavour':['Mini chococlate chip','chocolate','vannila','cookie dough','rockey road','pitachio','cake batter','neapoliten','brownie'],
                   'Base flavour':['vannila','chocolate','vannila','vannila','chocolate','vannila','vannila','vannila','chocolate'],
                   'Liked':['Yes','Yes','No','Yes','Yes','No','Yes','No','Yes'],
                   'Flavour rating':[10.0,8.8,4.7,6.9,8.2,2.3,6.5,3.8,8.2],
                   'Texture rating':[8.0,7.6,5.0,6.5,7.0,3.4,6.0,5.0,7.1],
                   'Total rating':[18.0,16.6,9.7,13.4,15.2,5.7,12.5,8.8,15.3]})
df

,Flavour,Base flavour,Liked,Flavour rating,Texture rating,Total rating
0,Mini chococlate chip,vannila,Yes,10.0,8.0,18.0
1,chocolate,chocolate,Yes,8.8,7.6,16.6
2,vannila,vannila,No,4.7,5.0,9.7
3,cookie dough,vannila,Yes,6.9,6.5,13.4
4,rockey road,chocolate,Yes,8.2,7.0,15.2
5,pitachio,vannila,No,2.3,3.4,5.7
6,cake batter,vannila,Yes,6.5,6.0,12.5
7,neapoliten,vannila,No,3.8,5.0,8.8
8,brownie,chocolate,Yes,8.2,7.1,15.3

## First group by

In [4]:
round(df.groupby('Base flavour').mean(numeric_only = True),2)

              Flavour rating  Texture rating  Total rating
Base flavour
chocolate                8.4            7.23         15.70
vannila                  5.7            5.65         11.35

## Count of value
count is contains to string also

In [5]:
df.groupby('Base flavour').count()

              Flavour  Liked  Flavour rating  Texture rating  Total rating
Base flavour
chocolate           3      3               3               3             3
vannila             6      6               6               6             6

## Minimum

In [6]:
df.groupby('Base flavour').min()

,Flavour,Liked,Flavour rating,Texture rating,Total rating
Base flavour,,,,,
chocolate,brownie,Yes,8.2,7.0,15.2
vannila,Mini chococlate chip,No,2.3,3.4,5.7

In [7]:
df.groupby('Base flavour').max()

                  Flavour Liked  Flavour rating  Texture rating  Total rating
Base flavour
chocolate     rockey road   Yes             8.8             7.6          16.6
vannila           vannila   Yes            10.0             8.0          18.0

## Sum of value

In [8]:
df.groupby('Base flavour').sum(numeric_only = True)

              Flavour rating  Texture rating  Total rating
Base flavour
chocolate               25.2            21.7          47.1
vannila                 34.2            33.9          68.1

## Aggregrate function

One column using

In [9]:
df.groupby('Base flavour').agg({'Flavour rating':['min','max','sum','mean']})

             Flavour rating
                        min   max   sum mean
Base flavour
chocolate               8.2   8.8  25.2  8.4
vannila                 2.3  10.0  34.2  5.7

multiple column using

In [10]:
df.groupby('Base flavour').agg({'Flavour rating':['min','max','sum','mean'],'Texture rating':['min','max','sum','mean']})

             Flavour rating                  Texture rating             \
                        min   max   sum mean            min  max   sum
Base flavour
chocolate               8.2   8.8  25.2  8.4            7.0  7.6  21.7
vannila                 2.3  10.0  34.2  5.7            3.4  8.0  33.9


                  mean
Base flavour
chocolate     7.233333
vannila       5.650000

## Multiple column using group by

In [11]:
df

,Flavour,Base flavour,Liked,Flavour rating,Texture rating,Total rating
0,Mini chococlate chip,vannila,Yes,10.0,8.0,18.0
1,chocolate,chocolate,Yes,8.8,7.6,16.6
2,vannila,vannila,No,4.7,5.0,9.7
3,cookie dough,vannila,Yes,6.9,6.5,13.4
4,rockey road,chocolate,Yes,8.2,7.0,15.2
5,pitachio,vannila,No,2.3,3.4,5.7
6,cake batter,vannila,Yes,6.5,6.0,12.5
7,neapoliten,vannila,No,3.8,5.0,8.8
8,brownie,chocolate,Yes,8.2,7.1,15.3

In [12]:
df.groupby(['Base flavour','Liked']).mean(numeric_only = True)

                    Flavour rating  Texture rating  Total rating
Base flavour Liked
chocolate    Yes               8.4        7.233333     15.700000
vannila      No                3.6        4.466667      8.066667
             Yes               7.8        6.833333     14.633333

In [13]:
df.groupby(['Base flavour','Flavour']).mean(numeric_only = True)

                                   Flavour rating  Texture rating  \
Base flavour Flavour
chocolate    brownie                          8.2             7.1
             chocolate                        8.8             7.6
             rockey road                      8.2             7.0
vannila      Mini chococlate chip            10.0             8.0
             cake batter                      6.5             6.0
             cookie dough                     6.9             6.5
             neapoliten                       3.8             5.0
             pitachio                         2.3             3.4
             vannila                          4.7             5.0

                                   Total rating
Base flavour Flavour
chocolate    brownie                       15.3
             chocolate                     16.6
             rockey road                   15.2
vannila      Mini chococlate chip          18.0
             cake batter                   12.5
             cookie dough                  13.4
             neapoliten                     8.8
             pitachio                       5.7
             vannila                        9.7

In [16]:
df.groupby(['Base flavour','Liked']).agg({'Flavour rating':['mean','sum']})

                   Flavour rating
                             mean   sum
Base flavour Liked
chocolate    Yes              8.4  25.2
vannila      No               3.6  10.8
             Yes              7.8  23.4

## Describe using group by

In [18]:
df.groupby('Base flavour').describe()

             Flavour rating                                             \
                      count mean       std  min    25%  50%  75%   max
Base flavour
chocolate               3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
vannila                 6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

             Texture rating            ...             Total rating         \
                      count      mean  ...    75%  max        count   mean
Base flavour                           ...
chocolate               3.0  7.233333  ...  7.350  7.6          3.0  15.70
vannila                 6.0  5.650000  ...  6.375  8.0          6.0  11.35


                   std   min     25%   50%     75%   max
Base flavour
chocolate     0.781025  15.2  15.250  15.3  15.950  16.6
vannila       4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]